<footer class="bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 text-white py-8">
  <div class="max-w-screen-xl mx-auto px-6">
    <div class="flex justify-between mb-6">
      <div class="flex space-x-6">
        <a href="#" class="text-gray-200 hover:text-white">Home</a>
        <a href="#" class="text-gray-200 hover:text-white">Forecast</a>
      </div>

      <!-- Ícones sociais -->
      <div class="flex space-x-6">
        <a href="https://www.linkedin.com" class="text-gray-200 hover:text-white" target="_blank">
          <mat-icon>linkedin</mat-icon>
        </a>
        <a href="https://github.com" class="text-gray-200 hover:text-white" target="_blank">
          <mat-icon>code</mat-icon>
        </a>
        <a href="https://openweathermap.org/current" class="text-gray-200 hover:text-white" target="_blank">
          <mat-icon>cloud</mat-icon>
        </a>
      </div>
    </div>


    <div class="border-t border-white pt-6 text-center">
      <p class="text-sm text-white">© 2024 WeatherNow. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>